// -----
// Fonts
// -----

// Racing Sans One
@include font-face("Racing Sans One", "../vendor/fonts/racing-sans-one/racing-sans-one-regular", normal, normal);

// Source Sans
// Our applications's main workhorse.
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600);

// ----------
// Font Icons
// ----------

// Flaticons
// https://flaticons.co/
@include font-face("Flaticons Stroke", "../vendor/fonts/flaticons-stroke/flaticons-stroke", normal, normal);


// Smoothing

// This mixin overrides default anti-aliasing in Webkit and Gecko, which tends to
// be too heavy for dark-on-light text. It is on by default. In cases
// where text will be light-on-dark, please turn this value off.
@mixin font-smoothing($value: on) {
  @if $value == on {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  @else {
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
  }
}


// Truncate text with an ellipsis
html /deep/ .t-heading,
%t-heading {
  font-family: 'Racing Sans One', cursive;
}


// Truncate text with an ellipsis
html /deep/ .t-truncate,
%t-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

html /deep/ .t-italic,
%t-italic { font-style: italic; }

html /deep/ .t-bold,
%t-bold   { font-weight: $font-weight-semibold; }

html /deep/ .t-light,
%t-light  { font-weight: $font-weight-light;    }

html /deep/ .t-normal,
%t-normal { font-weight: $font-weight-normal;   }
