+import('./prez-slide.html')
+import('../../bower_components/ace-element/ace-element.html')

+polymer-element(attributes='slide')

  prez-slide.prez-slide--primary
    .prez-slide__content
      h1.l-margin-b1.t-heading ECMAScript 6 / 7
      h3 The Fucking Awesome Parts

  prez-slide
    .prez-slide__content
      h2.l-margin-b4 Why now?
      ul
        li Gaining attention
        li Stablizing spec
        li Implementations out in the wild
        li Already being used <i>(Angular 2.0 and Ember 1.6)</i>
        li.t-bold You can use it now!

  prez-slide
    .prez-slide__content
      h2.l-margin-b4 So far so good...
      ul
        li Zeitgeist
        li Doug's Survive the Night
        li Garçon
        li.t-bold This presentation

  prez-slide.prez-slide--primary
    .prez-slide__content
      h1.l-margin-b1.t-heading Arrow Functions
      h3 Less typing


  prez-slide
    .prez-slide__content
      .prez-slide__code
        ace-element(mode="javascript" readonly)
          :verbatim
            (arg1, arg2)=>{ /*...*/ }
            (arg1, arg2)=> returnValue;
            arg=> returnValue;
          :verbatim

  prez-slide
    .prez-slide__content
      .prez-slide__code
        ace-element(mode="javascript" readonly)
          :verbatim
            [1,2,3].map(function(num){return num*2});

            [1,2,3].map(num=>num*2);

            //> [2,4,6]
          :verbatim

  prez-slide
    .prez-slide__content
      .prez-slide__code.prez-slide__code--big
        ace-element(mode="javascript" readonly)
          :verbatim
            var operations = {
              identity: o=>o,
              add: (a,b)=>a+b,
              exp: (a,b)=>{
                var result = a;
                while(b--) result*=a;
                return result;
              }
            };


  prez-slide
    .prez-slide__content
      .prez-slide__code.prez-slide__code--big
        ace-element(mode="javascript" readonly)
          :verbatim
            Todos.parse = function(json){ /* ... */ };

            Todos.fetchAll = function(id){
              $.ajax({url: '/api/todos.json'})
               .done(function(response){
                 this.parse(response);
               });
            };
          :verbatim

  prez-slide
    .prez-slide__content
      .prez-slide__code.prez-slide__code--big
        ace-element(mode="javascript" readonly)
          :verbatim
            Todos.parse = function(json){ /* ... */ };

            Todos.fetchAll = function(id){
              $.ajax({url: '/api/todos.json'})
               .done(response=>this.parse(response));
            }
          :verbatim

  prez-slide.prez-slide--primary
    .prez-slide__content
      h1.t-heading Classes
      h3 In the prototypical sense...

  prez-slide
    .prez-slide__content
      .prez-slide__code.prez-slide__code--big
        ace-element(mode="javascript" readonly)
          :verbatim
            class Thing {
              constructor(){ console.log('hello world') }
            }
            var thingInstance = new Thing();
            // 'hello world'

            thingInstance instanceof Thing;
            // > true
          :verbatim

  prez-slide
    .prez-slide__content
      h2.l-margin-b4 extends/super
      .prez-slide__code.prez-slide__code--big
        ace-element(mode="javascript" readonly)
          :verbatim
            class Thing {
              doStuff(){ /*...*/ }
            }

            class BetterThing extends Thing {
              doStuff(){
                super();
                /* ...and then more stuff */
              }
            }
          :verbatim

  prez-slide
    .prez-slide__content
      h2 Private Members

  prez-slide
    .prez-slide__content
      h2.l-margin-b4 Before ES6: Closure Pattern
      .prez-slide__code.prez-slide__code--big
        ace-element(mode="javascript" readonly)
          :verbatim
            function Thing(){
              this.doStuff = function(){
                _internalDoStuff();
              };
              function _internalDoStuff(){ /*...*/ }
            }
          :verbatim

  prez-slide
    .prez-slide__content
      h2.l-margin-b4 ES6: Not pretty, but works
      .prez-slide__code.prez-slide__code--big
        ace-element(mode="javascript" readonly)
          :verbatim
            var internalDoStuff = Symbol();
            class Thing {
              doStuff(){ this[internalDoStuff]() }
              [internalDoStuff](){ /*...*/ }
            }
          :verbatim

  prez-slide
    .prez-slide__content
      h2.l-margin-b4 Detour: Computed Properties
      .prez-slide__code.prez-slide__code--big
        ace-element(mode="javascript" readonly)
          :verbatim
            var propertyName = "Fr";
            var a = {
              [propertyName + "ed"]: "Flintstone"
            };
          :verbatim

  prez-slide
    .prez-slide__content
      h2.l-margin-b4 Detour: Symbol
      .prez-slide__code.prez-slide__code--big
        ace-element(mode="javascript" readonly)
          :verbatim
            var sym1 = Symbol();
            var sym2 = Symbol();

            sym1 === sym2;
            //> false

            sym === sym;
            //> false
          :verbatim

  prez-slide
    .prez-slide__content
      h2.l-margin-b4 One more time...
      .prez-slide__code.prez-slide__code--big
        ace-element(mode="javascript" readonly)
          :verbatim
            var internalDoStuff = Symbol();
            class Thing {
              doStuff(){ this[internalDoStuff]() }
              [internalDoStuff](){ /*...*/ }
            }
          :verbatim

  prez-slide
    .prez-slide__content
      h2 Class Statics


  prez-slide
    .prez-slide__content
      .prez-slide__code.prez-slide__code--big
        ace-element(mode="javascript" readonly)
          :verbatim
            class Thing {
              static doStuff(){ return 'produce stuff' }
            }

            Thing.doStuff();
            // > 'produce stuff'
          :verbatim


  prez-slide.prez-slide--primary
    .prez-slide__content
      h1.t-heading Modules

  prez-slide
    .prez-slide__content.prez-slide__content--full-width
      img.l-width-100(src="/images/price-is-right-winner-gif.gif")

  prez-slide
    .prez-slide__content
      h2.l-margin-b4 Meanwhile in Java...
      .prez-slide__code.prez-slide__code--big
        ace-element(mode="javascript" readonly)
          :verbatim
            import org.slf4j.Logger;
          :verbatim


  prez-slide
    .prez-slide__content
      h2.l-margin-b4 Meanwhile in Ruby...
      .prez-slide__code.prez-slide__code--big
        ace-element(mode="javascript" readonly)
          :verbatim
            require 'yaml'
          :verbatim


  prez-slide
    .prez-slide__content
      h2.l-margin-b4 The shit we do...
      .prez-slide__code.prez-slide__code--big
        ace-element(mode="javascript" readonly)
          :verbatim
            var myStuff = require('./myStuff');

            define(['./someOtherStuff'],
              function(someOtherStuff){/*...*/});

            Ext.require('widget.window');

            curl(['yetMoreStuff']).
              then(function(yetMoreStuff){/*...*/});

            steal('widgets/tabs.js', './style.css',
              function(Tabs){/*...*/});

            (function(){
              var script = document.createElement('script');
              script.src = 'omg-why.js';
              document.appendChild(script);
            })();
          :verbatim


  prez-slide
    .prez-slide__content
      h2.l-margin-b4 ES6: Import/Export
      .prez-slide__code.prez-slide__code--big
        ace-element(mode="javascript" readonly)
          :verbatim
            // models/Model.js
            export class Model {}

            // models/LineItem.js
            var {Model} from './Model';
            class LineItem extends Model {}
          :verbatim

  prez-slide
    .prez-slide__content
      h2.l-margin-b4 ES6: Import/Export Default
      .prez-slide__code.prez-slide__code--big
        ace-element(mode="javascript" readonly)
          :verbatim
            // models/Model.js
            export default class Model {}

            // models/LineItem.js
            var Model from './Model';
            class LineItem extends Model {}
          :verbatim



  prez-slide.prez-slide--primary
    .prez-slide__content
      h1.t-heading Promises /
      h1.t-heading Async Functions
      h3.l-margin-t2 Sane asynchonicity

  prez-slide
    .prez-slide__content
      h2.l-margin-b4 Promises
      .prez-slide__code.prez-slide__code--big
        ace-element(mode="javascript" readonly)
          :verbatim
            function fetchGreeting(){
              new Promise(resolve=>
                setTimeout(()=>resolve('Hello'), 1000);
              );
            }
            function greet(greetingPromise){
              greetingPromise.then(msg=>console.log(msg));
            };

            greet(getGreetingPromise());
          :verbatim

  prez-slide
    .prez-slide__content
      h2.l-margin-b4 Async Functions
      .prez-slide__code.prez-slide__code--big
        ace-element(mode="javascript" readonly)
          :verbatim
            function fetchGreeting(){
              new Promise(resolve=>
                setTimeout(()=>resolve('Hello'), 1000);
              );
            }
            async function greet(greetingPromise){
              console.log(await greetingPromise);
            };

            greet(getGreetingPromise());
          :verbatim


  prez-slide.prez-slide--primary
    .prez-slide__content
      h1.l-margin-b4.t-heading And much much more...
      ul
        li Generators
        li Map/Set WeakMap/WeakSet
        li Template Strings
        li Destructuring
        li Argument Spread
        li let/const

  //- prez-slide
  //-   .prez-slide__content
  //-     .prez-slide__code.prez-slide__code--bigger
  //-       ace-element(mode="javascript" readonly)
  //-         :verbatim
  //-           var createNumberGenerator = function*(){
  //-             yield 1;
  //-             yield 2;
  //-           });
  //-           var generator = createNumberGenerator();
  //-
  //-           generator().next();
  //-           // > {value: 1,         done: false}
  //-           generator().next();
  //-           // > {value: 2,         done: false}
  //-           generator().next();
  //-           // > {value: undefined, done: true}
  //-         :verbatim

  prez-slide.prez-slide--primary
    .prez-slide__content
      h1.l-margin-b1.t-heading Map/Set
      h3 Less typing

  prez-slide.prez-slide--primary
    .prez-slide__content
      h1.l-margin-b1.t-heading Template Strings
      h3 Interpolating, Multi-line, Tagging

  prez-slide.prez-slide--primary
    .prez-slide__content
      h1.l-margin-b1.t-heading Destructuring
      h3 Less typing

  prez-slide.prez-slide--primary
    .prez-slide__content
      h1.l-margin-b1.t-heading Spread
      h3 <code>arguments</code> was a mistake

  prez-slide.prez-slide--primary
    .prez-slide__content
      h1.l-margin-b1.t-heading let / const
      h3 variable hoisting was a mistake
